.box{
    border: 2px solid var(--color-4);
    border-radius: 8px;
    color: var(--color-6);
    font-size: var(--font-size-6);
}

.box-l{
    /* border: 2px solid #758BFD;
    border-radius: 8px; */
    color: var(--color-3);
    font-size: var(--font-size-5);
}

.proper{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.custom-btn{
    height: 50px;
    width: 50%;
    border-radius: 2px;
    background: #aeb8fe;
    margin-right: 12px;
    box-shadow: 3px 5px 10px #ffbb0037;

}
.custom-btn:nth-child(2){
    background: #f1f2f6;
}

.custom-btn:hover{
    color: var(--color-6);
    box-shadow: none;
}

.custom-btn:nth-child(2):hover{
    color: var(--color-3);
    box-shadow: none;
}

.adjust{
    top: -20px;
    left: 20px;
}

.labels{
    height: 255px;
    width: 100%;
    border-radius: 10px;
    background: var(--color-1);
    box-shadow: 3px 5px 10px #1917168a;
    transition: 0.3s;
}

.labels:hover{
    box-shadow: none;
}

.avatar{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-top: -22px;
    margin-left: 20px;
    background: var(--color-8);
}

.see{
    color: var(--color-3);
    text-decoration: none;
    transition: 0.3s;
}
.see:hover{
    color: var(--color-7);
}

.round{
    height: 68px;
    width: 68px;
    border-radius: 50%;
    box-shadow: 3px 5px 10px #1917168a;
    background: var(--color-1);
    color: var(--color-6);
    transition: 0.3s;
}

.round:hover{
    background: var(--color-3);
    color: var(--color-1);
}



.about-img img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 3px 5px 10px #1917168a;
    filter: brightness(30%);
    object-fit: cover;
}

.about-imgx img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 3px 5px 10px #1917168a;
    /* filter: brightness(30%); */
    object-fit: cover;
}

.caption{
    top: 30%;
    text-align: center;
}

.over-cap{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: var(--color-6);
    -webkit-text-stroke-width: 1px;
}

.days{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 200px;
}

.day-hov{
    /* background: var(--color-1); */
    /* color: var(--color-1); */
    border-bottom: 2px solid var(--color-1);
    width: 100%;
    transition: 0.3s;
    font-family: var(--font-3);
    cursor: pointer;
    /* border-radius: 5px; */
}

/* .day-hov:hover{
    color: var(--color-7);
} */



.left, .mid{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}



.avatar-2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: -22px;
    margin-left: 20px;
    background: var(--color-5);
}

.features{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
}

.more{
    margin-left: -20px;
    border: 2px solid var(--color-1);
}

.padd{
    padding-right: 60px;
}

.view-btn{
    background: var(--color-3);
    border-radius: 5px;
    box-shadow: 3px 5px 10px #ffbb0037;

}

.list.active{
    color: var(--color-7);
}

.event.hide{
    display: none;
    visibility: hidden;
    position: absolute;
}

.expert{
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    /* box-shadow: 3px 5px 10px #1917168a; */

}

.expertx{
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    /* box-shadow: 3px 5px 10px #1917168a; */

}

.wrap{
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 3px 5px 10px #1917168a;
}

.bshd{
    box-shadow: 3px 5px 10px #1917168a;
    border-radius: 8px;
    height: 80%;
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: 0.3s ease-in-out;
    
}

.expert:hover .bshd{
    transform: scale(1.1);
}

.expertx:hover .bshd{
    transform: scale(1.1);
}

.expert-res:hover .bshd{
    transform: scale(1.1);
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    height: 35px;
    width: 35px;
    background: var(--color-1);
    border-radius: 50%;
    box-shadow: 3px 5px 10px #1917168a;
    transition: 0.3s;
    text-decoration: none;
    color: var(--color-3);
}

.link:hover{
    color: var(--color-8);
}

.linkx{
    height: 60px;
    width: 60px;
    background: var(--color-1);
    border-radius: 50%;
    box-shadow: 3px 5px 10px #1917168a;
    transition: 0.3s;
    text-decoration: none;
    color: var(--color-3);
}

.linkx:hover{
    color: var(--color-8);
}

.sponser{
    /* height: 100px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponser img{
    /* height: 100%; */
    width: 100%;
    /* object-fit: cover; */

}

.article{
    height: 400px;
    width: 100%;
    border-radius: 8px;
}

.article img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    box-shadow: 3px 5px 10px #1917168a;
    cursor: pointer;

}

.article .context{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    flex-direction: column;
    background: var(--color-1);
    border-radius: 0 0 8px 8px;
    box-shadow: 3px 5px 10px #1917168a;
}

.article .context a:hover{
    color: var(--color-8);
}

.ticket{
    height: 450px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    background: var(--color-1);
    box-shadow: 3px 5px 10px #1917168a;
}

.label{
    height: 80px;
    width: 70%;
    background: var(--color-8);
    box-shadow: 3px 5px 10px #ffbb0037;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-5);
    position: absolute;
    margin-top: -10px;
    margin-left: 16%;
    border-radius: 8px;
}

.price{
    font-size: var(--font-size-7);
    color: var(--color-3);
}

.perks{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: var(--color-6);
    font-family: var(--font-2);
}

.buy{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-3);
    height: 50px;
    width: 70%;
    border-radius: 5px;
    box-shadow: 3px 5px 10px #ffbb0037;
    text-decoration: none;
    color: var(--color-1);
    transition: 0.3s;
    font-family: var(--font-1);
    font-weight: 700;
}

.buy:hover{
    color: var(--color-1);
    background: var(--color-8);
}

.organizer{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    /* text-align: justify; */
}

.single img{
    height: 80%;
    width: 80%;
}